@font-face {
        font-family: "Guyon Gazebo";
        font-weight: 400;
        src: url("/fonts/GuyonGazebo-Regular.woff") format("woff");  
}

@font-face {
        font-family: "roboto";
        font-weight: 400;
        src: url("/fonts/roboto.medium.woff") format("woff"); 
}

/* @media screen and (max-width: 600px) {
        h1 {
                margin-top: 2vh;
        }
} */

canvas {
        margin: 0px;
        padding: 0px;
        position: fixed;
}


h1 {
        font-family: "Guyon Gazebo";
        font-size: 17.5vw;
        text-align : center;
        line-height: 30%;
        letter-spacing: 30px;
        margin-top: 23vh;
        color: #00d79e;
        @media (max-width: 600px){
                margin-top: 5vh;
        }

        
}
h2 {
        font-family: "Guyon Gazebo";
        font-size: 19.5vw;
        text-align: center;
        line-height: 10%;
        letter-spacing: 30px;
        margin-bottom: 30vh;
        color: #00d79e;
        @media (max-width: 600px){
                margin-top: 5vh;
        }
}
p1 { 
        font-family: "roboto";
        font-size: 2.5vw;
        text-align: left;
        line-height: 140%;
        color: #00d79c;
        display: block;
        width: 60%;
        margin: auto;
}

.mark hover {
        position: relative;
        <img src="/images/first.gif">
      }

.mark {
        text-decoration: underline;
}

html {
	scroll-behavior: smooth;
}

/* 2. Make nav sticky */
nav {
	position: sticky;
        align-self: flex-start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #00d79e;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid white;
}

.section-nav a {
	text-decoration: none;
	display: inline-block;
	padding: .400rem 0;
	color: white;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #00d79e;
;
}

/** Poor man's reset **/
* {
	box-sizing: border-box;
}


nav {
	font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}


/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
	padding-bottom: 20rem;
}
