@font-face {
        font-family: "Guyon Gazebo";
        font-weight: 400;
        src: url("/fonts/GuyonGazebo-Regular.woff") format("woff");  
}

@font-face {
        font-family: "roboto";
        font-weight: 400;
        src: url("/fonts/roboto.medium.woff") format("woff"); 
}

canvas {
        margin: 0px;
        padding: 0px;
        display: block;
}


h1 {
        font-family: "Guyon Gazebo";
        font-size: 12vw;
        text-align : center;
        margin: 10px;
        color: #00d79c;
        
}
p1 { 
        font-family: "roboto";
        font-size: 40px;
        color: #00d79c;
        padding: 80%;
        margin: auto;
}
